.containerFull{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

.containerBack{
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.back{
    width: 100%;
    height: 100%;
}

.container{
    top:0px;
    position: absolute;
    background-color: rgba(173, 173, 173, 0.65);
    width: 28%;
    height: 100%;
    z-index: 1;
}

.containerFrom{
    width: 60%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.containerLabel{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}