.container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url('../../assets/Business.jpg');
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.containerFull{
    left: 90px;
    width: 32%;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.85);
    text-align: center;
    align-self: center;
    align-content: center;
}

.containerLogo{
    margin-bottom: 32px;
}
.logo{
    height: 22vh;
}

.containerFrom{
    text-align: center;
    align-self: center;
    align-content: center;
}
.containerLabel{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: center;
    margin-inline: 20%;
    margin-bottom: 16px;
}
.label{
    
}