.containerHome{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-color: rgb(205, 205, 205);
}

.header{
    width: 100%;
    height: 12vh;
    background-color: rgb(232, 232, 232);
    border-bottom-right-radius: 32px;
    
}

.headerTop{
    width: 100%;
    height: 2vh;
    background-color: rgb(55, 82, 193);
}

.headerMain{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.logoName{
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.icLogo{
    width: 38%;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 12px;
}
.fromMenu{
    width: 40%;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inSearch{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-inline: 8px;
}
.btnSearch{
    height: 30px;
}
.linkTopMenu{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-inline: 12px;
}
.inLinkTopMenu{
    margin-right: 10px;
}
.btnMenu{
    font-size: 16px;
}
.containerUser{
    width: 22%;
    height: 40px;
    background-color: rgb(214, 214, 214);
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-inline: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 32px;
}
.icUser{
    width: 18px;
    height: 18px;
}
.nameUser{
    margin-inline: 8px;
    font-size: 12px;
}
.btnExit{
    background-color:  rgb(245, 245, 245);
    padding-inline: 8px;
    border-width: 2px;
    border-radius: 6px;
}
.btnExit:hover{
    background-color: rgb(151, 207, 255);
    padding-inline: 8px;
    border-width: 2px;
    border-radius: 6px;
}

.containerCenter{
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
}

.containerMenuLateral{
    width: 16%;
    background-color: rgb(55, 82, 193);
    border-bottom-right-radius: 32px;
    align-items: center;
    justify-content: center;
}
.menuLateral{
    width: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 16%;
}
.linkMenuLateral{
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.containerCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2%;
    box-sizing: border-box;
}
.cards{
    background-color: rgb(255, 255, 255);
    width: 12rem;
    height: 12.2rem;
    margin: 1rem;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 36px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cards:hover{
    background-color: rgb(127, 147, 238);
    width: 11rem;
    height: 11.2rem;
    transition: 388ms;
}
.cardImg{
    width: 100%;
    height: 50%;
}
.icCardImg{
    width: 58%;
}

.containerLogs{
    width: 30%;
    height: 76vh;
    background-color: rgb(71, 71, 71);
}

.footer{
    width: 100%;
    height: 12vh;
    background-color: rgb(30, 30, 30);
}